# Docusaurus static site - Traefik + Let's Encrypt
services:
  app:
    image: ${DOCKER_IMAGE}
    labels:
      traefik.enable: true
      traefik.http.services.doc-website.loadbalancer.server.port: 80
      traefik.http.routers.doc-website.rule: Host(`doc.polisportivacastelvieto.it`)
      traefik.http.routers.doc-website.entrypoints: web-secure
      traefik.http.routers.doc-website.tls: true
      traefik.http.routers.doc-website.tls.certresolver: letsencrypt
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "/dev/null", "http://localhost/"]
      interval: ${HEALTHCHECK_INTERVAL:-40s}
      timeout: ${HEALTHCHECK_TIMEOUT:-10s}
      retries: 3
      start_period: 5s
    restart: always
    profiles:
      - app
    networks:
      - proxy

networks:
  proxy:
    external: true
